.pre_nav {
 background-color: #f5f5f5;
 display: flex;
 justify-content: space-between;
}
.left {
 border: 0px solid grey;
 display: flex;
 margin: 10px 30px;
}
.left > p {
 margin: 0px 30px 0px 0px;
 font-size: 14px;
 transition: all 0.5s;
}
.left > p:hover {
 cursor: pointer;
 color: #ff7035;
}
.right {
 border: 0px solid red;
 display: flex;
 width: 15rem;
 justify-content: space-between;
 padding: 10px 0px 0px 0px;
 margin: 0px 20px 0px 0px;
}
.right > a {
 font-size: 14px;
 display: inline;
}
.right > a:hover {
    color: initial;
}
.right > a > img {
 display: inline;
}
.right > p {
 font-size: 12px;
 cursor: pointer;
 color: #ff7035;
 text-decoration: underline;
}
